.env
a.txt
gal.sql
.idea
/app/utils/__pycache__
/app/__pycache__
/app/db/__pycache__
/app/crud/__pycache__
/app/models/__pycache__
/app/routes/__pycache__
/app/schema/__pycache__
serviceAccountKey.json
