alembic>=1.14.0
fastapi>=0.115.0
fastapi-cli>=0.0.7
fastapi-limiter>=0.1.6
redis>=5.0.0
uvicorn>=0.34.0
SQLAlchemy>=2.0.0
PyJWT>=2.10.0
aiomysql>=0.2.0
mysqlclient>=2.2.0
email-validator>=2.1.0
passlib>=1.7.0
python-multipart>=0.0.6
httpx>=0.27.0
python-dotenv>=1.0.0
firebase-admin>=6.1.0